.breadcrumb1 {
  display: flex;
  justify-content: end;
  color: #fff;
  gap: 6px;
}
.breadcrumb1 a {
  color: white;
}
.sitesmap_row {
  position: relative;
}

.sitemap-contentarea {
  padding: 60px 0;
}

.sitesmap_row li {
  border-left: 1px solid #ddd;
  padding-bottom: 14px;
  padding-left: 18px;
}
.sitesmap_row li ul {
  margin-top: 16px;
}

.sitesmap_row li::after {
  background: #000;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 15px;
}

.resources-header {
    background-position: left top;
    background-size: cover;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 100px 0;
    border-bottom: 1px solid #fff;
}

.resources-header span {
	text-shadow: 0 0 3px #000;
	font-family: "roboto", sans-serif;
	color: #fff;
	font-size: 30px;
	font-weight: bold
}

.breadcrems_header {
	background-color: #451095;
	padding: 15px 0;
}

.breadcrems_header h1 {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase
}

.breadcrems_header ol.breadcrumb {
	background: transparent none repeat scroll 0 0;
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	width: 100%
}

.breadcrems_header ol.breadcrumb li,
.breadcrems_header ol.breadcrumb a {
	color: #fff;
	display: inline-block;
}

.content_area.sitemap {
	padding: 50px 0;
}


.sites_maps li a,
h1.entry-title {
	font-weight: bold;
}

.sites_maps li ul li a {
	font-weight: normal;
}

.sites_maps .sub_mp>a {
	font-weight: bold;
}

sites_maps,
.sites_maps li {
	float: left;
	position: relative;
	width: 100%;
}

.sites_maps li {
	border-left: 1px solid #ddd;
	padding-bottom: 15px;
	padding-left: 20px;
}

.sites_maps li:last-child {
	margin-bottom: 0;
	padding-bottom: 25px;
}

.sites_maps a:hover {
	color: #31aae1;
}

.sites_maps li::after {
	background: #ddd none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 9px;
	width: 15px;
}

.sites_maps li ul {
	margin-top: 15px;
}

.sites_maps li ul li::after {
	width: 10px;
}

.sites_maps li ul li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.sub_mp>a {
	font-weight: bold;
}

.content_area_resources {
	padding: 30px 0;
}

.content_area_resources h2::after,
.content_area_resources h3::after,
.content_area_resources h4::after {
	background: #451095;
	clear: both;
	content: "";
	display: block;
	height: 2px;
	margin: 5px 0 0;
	vertical-align: top;
	width: 47px;
}

.content_area_resources h2,
.content_area_resources h3,
.content_area_resources h4 {
	color: #29166f;
	display: inline-block;
	float: left;
	font-size: 18px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	width: 100%;
	font-weight: 600
}

.entry-content-page p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 10px;
}

.content_area_resources li {
	background: rgba(0, 0, 0, 0) url("/img/globalpages/icn_list_detail.png") no-repeat scroll 0 2px;
	float: left;
	font-size: 17px;
	margin-bottom: 15px;
	padding-left: 24px;
	width: 100%;
}

.content_area_resources p {
	margin-bottom: 15px;
}

.content_area_resources .casestudies-right ul li {
	background-image: none;
	position: relative;
	font-size: 17px;
	margin-bottom: 0;
	padding: 0;
	width: 100%;
	color: #9a9a9a;
	border-bottom: 1px #ddd solid
}

.content_area_resources .casestudies-right ul li a {
	font-size: 12px;
	color: #9a9a9a;
	padding: 10px 15px;
	display: inline-block;
	width: 100%
}

.content_area_resources .casestudies-right ul li a:hover strong {
	color: #000000
}

.content_area_resources .casestudies-right ul li a strong {
	font-weight: normal;
	display: block;
	font-size: 15px;
	color: #444
}

.content_area_resources .casestudies-right ul li:before {
	position: absolute;
	right: 10px;
	top: 50%;
	content: "\f101";
	font-family: FontAwesome;
	transform: translate(0, -50%);
	font-size: 23px;
}

.content_area_resources .casestudies-right ul li:hover:before {
	color: #000000
}

.content_area_resources .case-study-listing h4 {
	text-align: center;
	margin-bottom: 0;
	padding: 0 10px;
}

.content_area_resources .case-study-listing h4 a {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.content_area_resources .case-study-listing h4:after {
	display: none
}

.content_area_resources .case-study-listing h3 {
	text-align: center;
	color: #fff;
	font-size: 20px;
	min-height: 47px;
	margin-bottom: 0;
	text-transform: capitalize;
}

.content_area_resources .case-study-listing h3:after {
	display: none;
}

.CareersBtn .btn-primary {
  padding: 5px 5px 7px;
  text-transform: capitalize;
  width: 230px;
  border-radius: 7px;
  margin: 0 2px;
}
